@import "../utils/variables";
@import "../components/button";

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgc-grey;

    img {
        height: clamp(3rem, 5vw, 5rem);
        margin: 2rem auto;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        width: 70%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .local {
        background-color: $bgc-localize;
        width: 100%;
        margin-bottom: 3rem;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            padding: 1.5rem;
            box-shadow: $box-shadow-inset;

            &::before {
                @include pseudo-icon("\f3c5", 1.3rem);
                margin-right: 1rem;
            }
        }
    }

    &>p {
        font-size: 2rem;
        font-weight: 100;
        width: 80%;
        text-align: center;
        margin-bottom: 4rem;
    }

    &--menu {
        & .logo-menu {
            position: relative;
            width: 100%;
            max-width: 1024px;
            display: flex;
            justify-content: center;
            align-items: center;

            & a::before {
                position: absolute;
                @include pseudo-icon("\f060");
                top: 50%;
                transform: translateY(-50%) scale(3);
                left: 3rem;
            }
        }

        & .title {
            position: relative;
            width: 100%;
            height: 350px;
            max-height: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &--note-enchantee {
                background-image: url("/images/restaurants/stil.jpg");
            }
            &--palette-gout {
                background-image: url("/images/restaurants/jay-wennington.jpg");
            }
            &--francaise {
                background-image: url("/images/restaurants/toa-heftiba.jpg");
            }
            &--delice-sens {
                background-image: url("/images/restaurants/louis-hansel.jpg");
            }

            & .favorite {
                display: flex;
                align-items: end;
                width: 100%;
                max-width: 1024px;
                height: 9rem;
                padding: 0 3rem;
                border-radius: 40px 40px 0 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                background-color: $bgc-grey;
                transform: translate(-50%, 30px);

                &--heart {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 50%;
                }
            }

            h1 {
                display: inline;
                text-align: center;
                font-family: "Shrikhand", Helvetica, Arial, sans-serif;
                font-size: clamp(2rem, 6vw, 3rem);
            }
        }
    }
}
