@import "../components/card";
@import "../components/list";
@import "../utils/animation";

section {
    padding: 5rem 3rem 7rem;
    max-width: 1024px;
    margin: 0 auto;
}

.entree {
    padding-top: 7rem;
}

@media screen and (min-width:1024px) {
    .restaurants {
        border-radius: 40px;
        margin-bottom: 5rem;
    }
}

.section-menu {
    background-color: $bgc-grey;

    & h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;

        &::after {
            display: block;
            content: "";
            width: 50px;
            height: 3px;
            background-color: #99E2D0;
            transform: translateY(1rem)
        }
    }

    &.btn-container {
        text-align: center;
        padding-bottom: 7rem;
        // margin-bottom: 6rem;
        padding-top: 0;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

        @media screen and (min-width: 1024px) {
            border-radius: 0 0 30px 30px;
            margin-bottom: 6rem;
        }
    }
}

.restaurants {
    background-color: $bgc-grey;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;

    .li-content {
        max-width: 700px;
        width: 100%;
        position: relative;
        @include anim-fadeIn(4, Y, 0, .3s);

        &--home {
            transition: all 300ms ease-in-out;

            &:hover {
                background-color: $bgc-purple-light;

                & span::before {
                    color: $bgc-purple;
                }
            }

            @media screen and (min-width: 600px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }


    }

    &--menu {
        background-color: $bgc-grey;
    }

    @media screen and (min-width: 1024px) {
        &--home {
            flex-direction: row;
        }

    }
}
