@import "../utils/variables";

.btn {
    font-size: 2rem;
    color: white;
    background: $btn-bgc-gradient;
    padding: 2rem;
    border-radius: 50px;
    margin-bottom: 7rem;
    cursor: pointer;
    transition: filter 300ms ease, transform 100ms ease;
}

.btn:hover {
    filter: brightness(1.1);
}

.btn:active {
    transform: scale(0.98);
}