@import "../utils/variables";

.btn {
    display: inline-block;
    min-width: 300px;
    font-size: 2rem;
    color: white;
    background: $btn-bgc-gradient;
    text-align: center;
    padding: 2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 300ms ease, transform 100ms ease;

    &--home {
        margin-bottom: 5rem;
    }
}

.btn:hover {
    filter: brightness(1.1);
}

.btn:active {
    transform: scale(0.98);
}
