.card {
    position: relative;
    justify-self: center;
    margin-top: 3rem;
    max-width: clamp(365px, 50vw, 100%);
    aspect-ratio: 335/250;
    border-radius: 10px;
    box-shadow: $box-shadow-list;
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    will-change: transform;
    @media screen and (min-width: 1024px) {
        aspect-ratio: 498 / 231;
    }


    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 1;
        object-fit: cover;
        transform: translateY(-60px);
    }

    .new::after {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "Nouveau";
        width: 100px;
        height: 30px;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        border-radius: 5px;
        opacity: .8;
        background-color: #99E2D0;

    }

    figcaption {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        bottom: 0;
        height: 75px;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 0 0 10px 10px;
        background-color: #fff;

        h3 {
            line-height: 3rem;
        }

        p {
            font-weight: 100;
        }
    }

    &:hover {
        transform: scale(1.01);
        &:active {
            transform: scale(1);
        }
    }
}

.card-container {
    display: grid;
    @media screen and (min-width: 768px) {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}
