.card {
    position: relative;
    margin-top: 3rem;
    aspect-ratio: 335/250;
    border-radius: 10px;
    box-shadow: $box-shadow-list;
    overflow: hidden;
    transform: scale(1);
    transition: all .3s ease-in-out;
    will-change: transform;
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 1;
        object-fit: cover;
        transform: translateY(-60px);
    }

    figcaption {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        bottom: 0;
        height: 75px;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 0 0 10px 10px;
        background-color: #fff;

        h3 {
            line-height: 3rem;
        }

        p {
            font-weight: 100;
        }


        input {
            display: none;
        }

        @each $label in $labels {
            label::before {
                content: $icon-heart;
                font-size: clamp(2rem, 5vw, 3rem);
                transition: transform 0.3s ease;
            }

            input##{$label}:checked+label[for="#{$label}"]::before {
                background-clip: text;
                background: $icon-heart-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
                transform: scale(1.2);
            }
        }
    }

    &:hover {
        transform: scale(1.01);
        &:active {
            transform: scale(1);
        }

        & img {
            filter: brightness(70%);
        }
    }
}

.card-container {

    @media screen and (min-width: 768px) {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}