@for $i from 1 through 5 {
    .heart-#{$i} {
        transform: scale(1);
        transition: all .3s;
        &:active {
            transform: scale(.9);
        }
        &::before {
            @include pseudo-icon($icon-heart, clamp(2rem, 5vw, 3rem), 100);
            transition: transform 1000ms ease;
        }
    }

    input#heart-#{$i}:checked+label[for="heart-#{$i}"]::before {
        background-clip: text;
        background-image: $icon-heart-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        transform: scale(1.2);
    }
}
