.li-content {
    @each $num, $code in $steps {
        margin: 0 1.2rem;
        @extend %li-container;

        &:nth-child(#{$num}) {
            &::before {
                @extend %flex-center;
                position: absolute;
                content: "#{$num}";
                left: -12px;
                width: 24px;
                height: 24px;
                font-size: 80%;
                border-radius: 50%;
                background-color: $bgc-purple;
                color: white;
            }

            span {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: clamp(1rem, 4vw, 2rem);
                color: $li-text-color;

                &::before {
                    @include pseudo-icon("#{$code}", null);
                    display: flex;
                    justify-content: center;
                    color: $li-icon-color;
                    width: 20%;
                }
            }
        }
    }
}