// element li avec ses composants

.li-content {
    max-width: 700px;
    width: 100%;
    @include anim-fadeIn(3, Y, 0, 0.3s);
    position: relative;

    &--home {

        @each $num,
        $code in $steps {
            margin: 0 1.2rem;
            @extend %li-container;

            &:nth-child(#{$num}) {
                &::before {
                    @extend %flex-center;
                    position: absolute;
                    content: "#{$num}";
                    left: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    font-size: 80%;
                    border-radius: 50%;
                    background-color: $bgc-purple;
                    color: white;
                }

                span {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    font-size: clamp(1.6rem, 5vw, 1.7rem); // calcul vw: (PREFERRED_FONT_SIZE / (WINDOW_WIDTH / 100)
                    color: $li-text-color;

                    &::before {
                        @include pseudo-icon("#{$code}", null);
                        display: flex;
                        justify-content: center;
                        color: $li-icon-color;
                        width: 20%;
                    }
                }
            }
        }

        &:hover {
            background-color: $bgc-purple-light;

            & span::before {
                color: $bgc-purple;
            }
        }

        @media screen and (min-width: 1000px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &--menu {
        @extend %li-container;
        position: relative;
        width: 100%;
        display: flex;
        overflow: hidden;
        padding: 0;
        cursor: pointer;
        transition: all .3s;

        &-info {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: 100%;
            padding: 2rem;
            gap: 1rem;
            transition: all 500ms ease-in-out;

            h3 {
                font-size: 2rem;
                @extend %text-overflow;
            }

            & .menu-detail {
                display: flex;
                justify-content: space-between;

                p {
                    width: calc(100% - 5rem);
                    font-size: 1.8rem;
                    @extend %text-overflow;
                }

                span {
                    width: 5rem;
                    text-align: right;
                }
            }
        }

        .icon--valid {
            position: relative;
            width: 0;
            background-color: #99E2D0;
            border-radius: 0 20px 20px 0;
            transform: translateX($check-size);
            transition: all 500ms .2s ease;

            &::before {
                position: absolute;
                @include pseudo-icon($icon-check, 2rem);
                left: 50%;
                top: 50%;
                color: white;
                transform: translate(-50%, -50%) scale(1) rotate(90deg);
                transition: all 500ms 250ms ease;
            }
        }

        &:hover {
            transform: scale(1.01);
            .li-content--menu-info {
                width: calc(100% - $check-size);
            }

            .icon--valid {
                width: $check-size;
                transform: scale(1.01) translateX(0);
    
                &::before {
                    transform: translate(-50%, -50%) scale(1) rotate(360deg);
                }
            }
        }

        &:active {
            transform: scale(1);
        }

        input.li-select:checked ~ .li-content--menu-info {
            width: calc(100% - $check-size);
        }

        input.li-select:checked ~ .icon--valid {
            width: $check-size;
            transform: translateX(0);

            &::before {
                transform: translate(-50%, -50%) scale(1.5) rotate(720deg);
            }
        }
    }

}

.li-select {
    width: 0;
}

.label-onClick {
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
}
