@mixin pseudo-icon($img, $size: null, $weight: null) {
    content: $img;
    font: var(--fa-font-solid);
    font-weight: $weight;
    font-size: $size;
}

@mixin anim-fadeIn($elements, $translate, $decale, $delay) {
    opacity: 0;
    transform: translate#{$translate}($decale);
    transition: transform 0.5s ease-in-out;

    @for $i from 1 through $elements {
        &:nth-child(#{$i}) {
            // transition-delay: #{$i * $delay};
            animation: fadeIn 0.5s ease-in-out #{.5s + $i * $delay} forwards;
        }
    }
}
