@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "../components/icon";
@import "../utils/extend";
@import "../components/heart";
@import "../components/loader";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    h2 {
        font-size: 2.5rem;
    }

    & main {
        flex-grow: 1;
    }

    & footer {
        flex-shrink: 0;
    }

    input[type="checkbox"] {
        opacity: 0;
    }
}
