*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
}

body {
    h2 {
        font-size: 2.5rem;
    }
    min-width: 340px;
}