@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "../components/icon";
@import "../utils/extend";
@import "../components/heart";

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    h2 {
        font-size: 2.5rem;
    }
    min-width: 340px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    & main {
        flex-grow: 1;
    }

    & footer {
        flex-shrink: 0;
    }

    input[type="checkbox"] {
        display: none;
    }
}