
// color
$heart-color: black;
$pink: #ff79da;
$purple: #9356dc;
$btn-bgc-gradient: linear-gradient(180deg, $pink 0%, $purple 100%);
$btn-bgc-gradient-light: linear-gradient(180deg, lighten($pink, 10%) 0%, lighten($purple, 10%) 100%);
$icon-heart-gradient: linear-gradient(to left bottom, $purple 0%, $pink 100%);
$bgc-purple: #9356DC;
$bgc-purple-light: #F5EDFF;
$bgc-grey: #f6f6f6;
$bgc-localize: #e7e7e7;
$li-icon-color: #7e7e7e;
$li-text-color: #353535;


// Size

$check-size: 80px;

// header
$box-shadow-inset: rgba(50, 50, 93, 0.25) 0px 5px 10px -3px inset;
$box-shadow-list: rgba(149, 157, 165, 0.4) 0px 8px 14px;


// section
$heart-size: 20px;
$li-delay: 0.3s, 0.6s, 0.9s;


// icons
$icon-heart: "\f004";
$icon-food: "\f2e7";
$icon-handshake: "\f4c4";
$icon-check: "\f058";
$steps: (
    "1": "\f3cd",
    "2": "\f03a",
    "3": "\f54e"
);
